:root,
:root[data-theme="light"] {
  --clr-surface: #ffffff;
  --clr-surface-container: #ffffff;
  --clr-surface-container-high: #f5f3f0;
  --clr-surface-container-highest: #ebe9e6;
  --clr-surface-container-low: #f1f3fc;
  --clr-surface-container-lowest: #ffffff;
  --clr-surface-dim: #d7dae2;
  --clr-surface-bright: #f8f9ff;
  --clr-on-surface: #181c22;
  --clr-on-surface-variant: #404752;
  /*  */
  --clr-outline: #707884;
  --clr-outline-variant: #c0c7d4;
  /*  */
  --clr-primary: #0055bb;
  --clr-on-primary: #ffffff;
  --clr-primary-container: #e5f5fe;
  --clr-on-primary-container: #001c37;
  /*  */
  --clr-secondary: #ff3f53;
  --clr-on-secondary: #ffffff;
  --clr-secondary-container: #ffe8e5;
  --clr-on-secondary-container: black;
  /*  */
  --clr-tertiary: #6c5e00;
  --clr-on-tertiary: #ffffff;
  --clr-tertiary-container: #ffe766;
  --clr-on-tertiary-container: #564a00;
  /*  */
  --clr-error: #ba1a1a;
  --clr-on-error: #ffffff;
  --clr-error-container: #ffdad6;
  --clr-on-error-container: #410002;
  /*  */
  --clr-success: #00e066;
  --clr-on-success: #ffffff;
  --clr-success-container: #daf8e0;
  --clr-on-success-container: #174600;

  --clr-fire-1: #f6d36b;
  --clr-fire-2: #faa738;
  --clr-fire-3: #fa800e;
  --clr-fire-4: #f05203;
  --clr-fire-5: #c72f03;
  --clr-fire-6: #811503;
  --clr-fire-7: #620b04;
}

:root[data-theme="dark"] {
  --clr-surface: #101419;
  --clr-surface-container: #1c2026;
  --clr-surface-container-high: #262a30;
  --clr-surface-container-highest: #31353b;
  --clr-surface-container-low: #181c22;
  --clr-surface-container-lowest: #0a0e14;
  --clr-surface-dim: #101419;
  --clr-surface-bright: #353940;
  --clr-on-surface: #dfe2eb;
  --clr-on-surface-variant: #c0c7d4;
  /*  */
  --clr-outline: #8a919e;
  --clr-outline-variant: #404752;
  /*  */
  --clr-primary: #0055bb;
  --clr-on-primary: #00325a;
  --clr-primary-container: #2796f6;
  --clr-on-primary-container: #000000;
  /*  */
  --clr-secondary: #ffb2be;
  --clr-on-secondary: #660026;
  --clr-secondary-container: #d43664;
  --clr-on-secondary-container: #ffffff;
  /*  */
  --clr-tertiary: #ffffff;
  --clr-on-tertiary: #383000;
  --clr-tertiary-container: #f1d422;
  --clr-on-tertiary-container: #493f00;
  /*  */
  --clr-error: #ffb4ab;
  --clr-on-error: #690005;
  --clr-error-container: #93000a;
  --clr-on-error-container: #ffdad6;
  /*  */
  --clr-success: #bbff96;
  --clr-on-success: #113800;
  --clr-success-container: #85d75d;
  --clr-on-success-container: #123c00;
}
